
html {
    scroll-behavior: smooth;

}

h1, h2, h3, h4 {
    font: normal normal medium Congenial;
}

#home_hero_container {
    background-size: contain;
    background-repeat: no-repeat;
    height: 63rem;
    background-position: right
}

#hero_image {
    width: 940px;
    height: 808px
}

#blog_title {;
    background-size: contain;
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: 49.4rem
}

.home_blog_card {
    width: 21.7rem;
    height: 9.35rem;
    position: relative;
    top: 13rem;
}

.testimonial_card {
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    position: relative;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
}

.post_container {
    width: 52rem;
    margin-left: 9rem !important;
}

#blog_filter {
    position: relative;
    left: 15rem;
    bottom: 20rem;
    width: 40rem;
    height: fit-content;
}

#contact_us_section {
    margin-left: 15rem !important;
    margin-right: 15rem !important;
}

/*laptops*/
/* For 1366 Resolution cyan*/
@media only screen
and (min-width: 1030px)
and (max-width: 1366px) {
    body {
        background-color: cyan !important;
    }
}

/* For 1366 Resolution desktop:yellow*/
@media only screen
and (min-width: 1370px)
and (max-width: 1605px) {
    body {
        /*background-color: yellow !important;*/
    }

    #blog_title {;

        height: 40rem
    }

    .post_container {
        width: 38rem;
        margin-left: 6rem !important;
    }

    .testimonial_card {
        top: 9rem;
        left: 50%;
        transform: translateX(-50%);
    }

    #blog_filter {
        bottom: 13rem;
        left: 3rem !important;
        height: fit-content;
    }

    #other_services_section {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }

    .other_service_card {
        width: 22rem !important;
    }

    .other_service_card h5 {
        font-size: 12pt;

    }

    .other_service_card h6 {
        padding-left: 1rem;
        padding-right: 1rem;

    }

    #contact_us_section {
        margin-left: 8rem !important;
        margin-right: 10rem !important;
    }

    #home_hero_container {
        background-size: contain;
        background-repeat: no-repeat;
        height: 48rem;
        background-position: right
    }

    #hero_image {
        width: 40rem;
        height: 40rem
    }

    .home_blog_image {
        width: 20rem;
        height: 16.8rem
    }

    .home_blog_card {
        width: 16rem;
        height: 6rem;
        position: relative;
        top: 9rem;
        padding-top: 1rem;
    }

    .home_blog_card p {
        margin-top: -8px !important;
    }
}

/*end laptops*/

/* For 480 Resolution Mobile:red*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    body {
        background-color: red !important;
    }
}


/* For 480 Resolution Mobile2:blue*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    body {
        background-color: blue !important;
    }
}

/* For 480 Resolution Laptop:dark-Cyan*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    body {
        overflow-x: hidden;
        background-color: #008b6b !important;
    }

    #nav_container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .py-32 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .px-32{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .mx-32, .mx-64 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .mt-32{
        margin-top: 4rem;
    }
    #home_hero_container {
        height: 45rem;
        margin-left: 2rem;
    }

    #hero_image {
        width: 41rem;
        height: 38rem;
        margin-top: 11rem;
    }
    #home_service_cards{
        justify-items: center;
    }
    .home_service_card{
        margin-bottom: 2rem;
    }
    /*#aboutus_section{*/
    /*    margin-left: 2rem;*/
    /*}*/
}


/* For Tablet Resolution pink*/

@media only screen
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1)
and (min-device-width: 768px)
and (max-device-width: 1007px) {
    body {
        background-color: deeppink !important;
    }
}


/* Orientation : Portrait orange */
@media only screen
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1)
and (min-device-width: 768px)
and (max-device-width: 1007px) {
    body {
        background-color: orangered !important;
    }
}

/*!* Extra small devices (phones, 600px and down) red*!*/
/*@media only screen and (max-width: 600px) { body{background-color: red !important;}}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) green*!*/
/*@media only screen and (min-width: 600px) { body{background-color: green !important;}}*/

/*!* Medium devices (landscape tablets, 768px and up) blue*!*/
/*@media only screen and (min-width: 768px) { body{background-color: blue !important;}}*/

/*!* Large devices (laptops/desktops, 992px and up) yelow*!*/
/*@media only screen and (min-width: 992px) { body{background-color: yellow !important;}}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) cyan*!*/
/*@media only screen and (min-width: 1200px) { body{background-color: cyan !important;}}*/
